*{
   box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}
.wrapper{
    height: 95vh;
    max-width: 800px;
    margin: 1em auto;
    box-shadow: 0 0 20px darkgrey;
}

.header {
    padding: 1em 0em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
}

.color-picker{
    border: none;
    padding: 0;
    height: 40px;
    border-radius: 5px;
    width: 100px;
}

.color-mode, .color-btn{
    text-transform: capitalize;
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    background: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}
.color-picker:hover,
.color-picker:focus,
.color-mode:hover,
.color-mode:focus,
.color-btn:hover,
.color-btn:focus{
    transform: scale(1.05);
    cursor: pointer;
    outline: none;
}

main{
    height: 85%;
}

.color-container{
    height: 100%;
    display: flex;
    position: relative;
}

.color-container-info{
    color: rgba(211, 211, 211, 0.6);
    text-align: center;
    font-size: 1.8rem;
    max-width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 50%;
    right: 0;
    left: 0;
}

.color-column{
    color: white;
    text-shadow: 0 0 10px black;
    width: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 1.5em;   
}


@media(max-width:550px){
    .header{
        flex-direction: column;
        justify-content: space-around;
        height: 30%;
    }
    main{
        height: 70%;
    }
    .color-picker, .color-mode, .color-btn{
        text-align: center;
        width: 90%;
    }
    .color-container{
        flex-direction: column;
    }
    
    .color-column{
        width: 100%;
        height: 20%;
        align-items: center;
        padding: 0;
    }
}